@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
    --success-color: #5cb85c;
    --error-color: #be3e39;
    --dark-color-a: #1bb0d1;
    --dark-color-b: #6dcbe1;
    --light-color: #edfcff;
    --button-color: #fff;
    --button-hover-color: #e6faff;
    --settings-filter: invert(55%) sepia(27%) saturate(1146%) hue-rotate(143deg) brightness(99%) contrast(103%);
}

.dark-mode {
    --dark-color-b: #424242;
    --dark-color-a: #666666;
    --light-color: #1b1b1b;
    --button-color: #e0e0e0;
    --button-hover-color: #ffffff;
    --settings-filter: invert(25%) saturate(1%) hue-rotate(280deg) brightness(96%) contrast(92%);
}

.red-mode {
    --dark-color-a: #d11b1b;
    --dark-color-b: #e16d6d;
    --light-color: #ffeded;
    --button-color: #fff;
    --button-hover-color: #ffe6e6;
    --settings-filter: invert(21%) sepia(41%) saturate(3059%) hue-rotate(337deg) brightness(112%) contrast(122%);
}

.purple-mode {
    --dark-color-a: #8e1bd1;
    --dark-color-b: #b56ce0;
    --light-color: #f8edff;
    --button-color: #fff;
    --button-hover-color: #f6e6ff;
    --settings-filter: invert(16%) sepia(92%) saturate(4564%) hue-rotate(276deg) brightness(85%) contrast(98%);
}

.blue-mode {
    --dark-color-a: #1b39d1;
    --dark-color-b: #6c7fe0;
    --light-color: #edf0ff;
    --button-color: #fff;
    --button-hover-color: #e6eaff;
    --settings-filter: invert(13%) sepia(98%) saturate(6738%) hue-rotate(238deg) brightness(86%) contrast(90%);
}

.green-mode {
    --dark-color-a: #36d11b;
    --dark-color-b: #7de06c;
    --light-color: #efffed;
    --button-color: #fff;
    --button-hover-color: #e9ffe6;
    --settings-filter: invert(72%) sepia(41%) saturate(6209%) hue-rotate(71deg) brightness(108%) contrast(87%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: var(--light-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    cursor: pointer;
}

header {
    text-align: center;
    padding: 20px;
    background: var(--dark-color-a);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

main {
    padding: 30px 40px;
    background: var(--dark-color-b);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

label {
    color: #fff;
    line-height: 2em;
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

button {
    cursor: pointer;
}

.btn {
    display: flex;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px 15px;
    background: var(--button-color);
    color: var(--dark-color-a);
    font-size: 17px;
    border: 1px solid var(--dark-color-a);
    border-radius: 10px;
    max-width: 420px;
}

.btn:hover {
    background-color: var(--button-hover-color);
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn-stream {
    margin-top: 10px;
    padding: 10px 15px;
    background: var(--button-color);
    color: var(--dark-color-a);
    font-size: 17px;
    border: 1px solid var(--dark-color-a);
    border-radius: 10px;
}

.btn-stream:hover {
    background-color: var(--button-hover-color);
}

.btn-stream:active {
    position: relative;
    top: 1px;
}

.buzzer {
    display: block;
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    align-items: center;
    text-align: center;
    background: var(--dark-color-a);
    color: #fff;
    font-size: 25px;
    border: 1px solid var(--dark-color-a);
    border-radius: 100%;
    cursor: pointer;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    max-height: fit-content;
    height: -moz-max-content;
    color: #fff;
}

.container-quizmaster {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 560px;
    max-height: fit-content;
    height: -moz-max-content;
    color: #fff;
}

.server-msg {
    text-align: center;
    color: var(--error-color);
    margin-top: 10px;
}

.check-for-quizmaster {
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
}

.inline-button {
    display: inline-block;
}

.logout-link {
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: var(--dark-color-b);
    margin: 20% auto 0 auto;
    padding: 20px;
    padding-top: 30px;
    width: 300px;
    border: 1px solid var(--dark-color-a);
    border-radius: 5px;
}

.modal-stream {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: auto;
}

.modal-content-stream {
    background-color: var(--dark-color-b);
    margin: 30px 30px;
    padding: 20px;
    padding-top: 30px;
    width: 300px;
    border: 1px solid var(--dark-color-a);
    border-radius: 5px;
}

.close {
    color: var(--dark-color-a);
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 0;
}

.close:hover {
    cursor: pointer;
}

.candidate-answer {
    grid-column: 2;
}

.candidate-answer-huge input {
    font-weight: bold;
    font-size: 30px;
    color: #10687A;
}

.candidate-answer-huge button {
    height: 28px;
    margin: 2px;
    width: 40px;
    background: var(--button-color);
    color: var(--dark-color-a);
    border: 1px solid var(--dark-color-a);
    border-radius: 10px;
}

.candidate-answer-huge button:hover {
    background-color: var(--button-hover-color);
}

.candidate-answer-huge button:active {
    position: relative;
    top: 1px;
}

.candidate-points-stream {
    width: 50px;
    padding: 0 0 32px 0;
    grid-column: 1;
    text-align: center;
}

.candidate-points-stream input {
    margin: 0;
    text-align: center;
}

.candidate-points {
    width: 50px;
    grid-column: 1;
    text-align: center;
}

.candidate-points button {
    height: 28px;
    margin: 2px;
    width: 40px;
    background: var(--button-color);
    color: var(--dark-color-a);
    border: 1px solid var(--dark-color-a);
    border-radius: 10px;
}

.candidate-points button:hover {
    background-color: var(--button-hover-color);
}

.candidate-points button:active {
    position: relative;
    top: 1px;
}

.candidate-points input {
    margin: 0;
    text-align: center;
}

#body-id-stream {
    color: #fff;
    padding: 20px;
    transform: scale(1.7);
    transform-origin: 0 0;
    width: calc(100% / 1.7);
    height: calc(100% / 1.7);
}

#choose-stream-room p {
    margin-top: 10px;
}

#color-mode-select {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 12px;
    left: 15px;
    width: auto;
    min-width: 100px;
    padding: 5px 10px;
    background: var(--button-color);
    color: var(--dark-color-a);
    font-size: 12px;
    border: 1px solid var(--dark-color-a);
    border-radius: 5px;
    box-shadow: none;
}

#room-title {
    color: var(--dark-color-a);
    position: fixed;
    margin-bottom: 20px;
    z-index: 1;
    right: 15px;
    top: 12px;
}

#headline-stream {
    margin-bottom: 30px;
}

#msg-block {
    display: none;
    position: fixed;
    bottom: 0;
    width: 460px;
    z-index: -1;
    margin: 20px;
}

#msg-block-stream {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 460px;
    z-index: -1;
    margin: 20px 20px 0 20px;
}

#empty-roomname {
    display: none;
    margin: 20px;
}

#quizmaster-login {
    margin: 0;
    margin-right: 10px;
    padding: 0px;
    height: auto;
    width: auto;
}

#inline-buttons {
    width: 100%;
    text-align: center;
}

#point-buttons-all {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

#point-buttons-all p {
    margin-bottom: 5px;
}

#input-form-stream {
    max-width: 480px;
}

#choose-room p {
    margin: 30px;
    text-align: center;
}

#candidate-form {
    display: none;
}

#answers-form {
    display: none;
}

#answers-form-stream {
    display: none;
}

#candidate-answers {
    display: grid;
    grid-template-columns: 50px 420px;
    gap: 10px;
}

#candidate-answers-stream {
    display: grid;
    grid-template-columns: 50px 420px;
    gap: 10px;
}

#small-screen-warning {
    display: none;
}

@media only screen and (max-width: 500px) {
    div:not(#small-screen-warning) {
        display: none;
    }
    html,
    body {
        height: 100%;
    }
    #small-screen-warning {
        color: var(--dark-color-a);
        display: flex;
        text-align: center;
        align-items: center;
        height: 100%;
        padding: 20px;
    }
}