@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
    --success-color: #5cb85c;
    --error-color: #be3e39;
    --dark-color-a: #1bb0d1;
    --dark-color-b: #6dcbe1;
    --light-color: #edfcff;
    --button-color: #fff;
    --button-hover-color: #e6faff;
    --dark-color-a-transparent: rgba(27, 176, 209, 0.4);
}

.dark-mode {
    --dark-color-a: #666666;
    --dark-color-b: #424242;
    --light-color: #1b1b1b;
    --button-color: #e0e0e0;
    --button-hover-color: #ffffff;
    --dark-color-a-transparent: rgba(0, 0, 0, 0.2);
}

.red-mode {
    --dark-color-a: #d11b1b;
    --dark-color-b: #e16d6d;
    --light-color: #ffeded;
    --button-color: #fff;
    --button-hover-color: #ffe6e6;
    --dark-color-a-transparent: rgba(209, 27, 27, 0.3);
}

.purple-mode {
    --dark-color-a: #8e1bd1;
    --dark-color-b: #b56ce0;
    --light-color: #f8edff;
    --button-color: #fff;
    --button-hover-color: #f6e6ff;
    --dark-color-a-transparent: rgba(142, 27, 209, 0.3);
}

.blue-mode {
    --dark-color-a: #1b39d1;
    --dark-color-b: #6c7fe0;
    --light-color: #edf0ff;
    --button-color: #fff;
    --button-hover-color: #e6eaff;
    --dark-color-a-transparent: rgba(27, 57, 209, 0.3);
}

.green-mode {
    --dark-color-a: #36d11b;
    --dark-color-b: #7de06c;
    --light-color: #efffed;
    --button-color: #fff;
    --button-hover-color: #e9ffe6;
    --dark-color-a-transparent: rgba(54, 209, 27, 0.4);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[id$='-order-input'] {
    height: 28px;
    margin-bottom: 4px;
    background: #000;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    border: 0px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:not([input]) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: var(--light-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    cursor: default;
}

p {
    cursor: default;
}

div {
    cursor: default;
}

header {
    cursor: default;
    text-align: center;
    padding: 20px;
    background: var(--dark-color-a);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

main {
    padding: 30px 40px;
    background: var(--dark-color-b);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

label {
    color: #fff;
    line-height: 2em;
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
    border: 1px solid var(--dark-color-a);
}

button, .buzzer, .close, .lock-button, .input-file, .input-file::file-selector-button, .pointer, #quizmaster-login {
    cursor: pointer;
}

.btn {
    display: flex;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px 15px;
    background: var(--button-color);
    color: var(--dark-color-a);
    font-size: 17px;
    border: 1px solid var(--dark-color-a);
    border-radius: 10px;
    max-width: 420px;
}

.btn:hover {
    background-color: var(--button-hover-color);
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn-stream {
    margin-top: 10px;
    padding: 10px 15px;
    background: var(--button-color);
    color: var(--dark-color-a);
    font-size: 17px;
    border: 1px solid var(--dark-color-a);
    border-radius: 10px;
}

.btn-stream:hover {
    background-color: var(--button-hover-color);
}

.btn-stream:active {
    position: relative;
    top: 1px;
}

.input-file {
    border: 0px;
    width: 480px;
    margin-bottom: 0;
}

.input-file::file-selector-button {
    font-size: 13px;
    margin-right: 12px;
}

.buzzer {
    display: block;
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    align-items: center;
    text-align: center;
    background: var(--dark-color-a);
    color: #fff;
    font-size: 25px;
    border: 1px solid var(--dark-color-a);
    border-radius: 100%;
}

.buzzer:disabled {
    background: var(--dark-color-b);
    cursor: default;
}

.buzzer span {
    color: var(--dark-color-a);
    position: absolute;
    font-size: 12px;
    display: block;
    margin: 5px 0 0 0;
    width: 200px;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    max-height: fit-content;
    height: -moz-max-content;
    color: #fff;
}

.container-quizmaster {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 560px;
    max-height: fit-content;
    height: -moz-max-content;
    color: #fff;
}

.server-msg {
    text-align: center;
    color: var(--error-color);
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.check-for-quizmaster {
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
}

.inline-button {
    display: inline-block;
}

.logout-link {
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: var(--dark-color-b);
    margin: 20% auto 0 auto;
    padding: 20px;
    padding-top: 30px;
    width: 300px;
    border: 1px solid var(--dark-color-a);
    border-radius: 5px;
}

.modal-image {
    position: fixed;
    z-index: -1;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
}

.modal-stream {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: auto;
}

.modal-content-stream {
    background-color: var(--light-color);
    margin: 30px 30px;
    padding: 20px;
    padding-top: 30px;
    width: 300px;
    border: 1px solid var(--dark-color-a);
    border-radius: 5px;
}

.close {
    color: var(--dark-color-a);
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 0;
}

.candidate-answer {
    grid-column: 2;
}

.candidate-answer label {
    white-space: nowrap;
}

.locked-in::before {
    content: "\1F512";
    position: relative;
    display: flex;
    height: 0;
    left: -40px;
    top: 40px;
    font-size: 16px;
}

.lock-button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: 20px;
    width: auto;
    height: 40px;
}

.i-buzzed::before {
    content: "\1F534";
    position: relative;
    display: flex;
    height: 0;
    left: -40px;
    top: 40px;
    font-size: 16px;
}

.i-buzzed-stream::after {
    content: "\1F534";
    font-size: 32px;
    position: relative;
    height: 0;
    width: 0;
    display: flex;
    top: -64px;
    left: 420px;
}

.inline-block-label {
    font-size: 0;
}

.inline-block-label label {
    display: inline-block;
    font-size: medium;
    width: 100%;
    height: 32px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.candidate-answer-huge *:not(input) {
    background-color: var(--light-color);
}

.candidate-answer-huge input:not([id$='-order-input']) {
    font-weight: bold;
    font-size: 30px;
    color: #10687A;
    background: rgba(0, 0, 0, 0.0);
    border-color: #f00;
    overflow: hidden;
}

.candidate-points {
    width: 100px;
    grid-column: 1;
    text-align: right;
}

.candidate-points button {
    height: 28px;
    margin: 2px 5px;
    width: 40px;
    background: var(--button-color);
    color: var(--dark-color-a);
    border: 1px solid var(--dark-color-a);
    border-radius: 10px;
}

.candidate-points button:hover {
    background-color: var(--button-hover-color);
}

.candidate-points button:active:not([id*="-2-"]) {
    position: relative;
    top: 1px;
}

.candidate-points input {
    margin: 0;
    width: 50px;
    text-align: center;
}

.candidate-points-spectator {
    width: 50px;
    grid-column: 1;
    text-align: right;
}

.candidate-points-spectator input {
    margin: 0;
    width: 50px;
    text-align: center;
}

.candidate-points-stream {
    width: 100px;
    padding: 0 0 32px 0;
    grid-column: 1;
    text-align: center;
}

.candidate-points-stream input:not([id$='-order-input']) {
    margin: 0;
    text-align: center;
}

.question-points {
    grid-column: 1;
    text-align: center;
}

.question-points button {
    height: 28px;
    margin: 2px;
    width: 40px;
    background: var(--button-color);
    color: var(--dark-color-a);
    border: 1px solid var(--dark-color-a);
    border-radius: 10px;
}

.question-points button:hover {
    background-color: var(--button-hover-color);
}

.question-points button:active:not([id*="-2-"]) {
    position: relative;
    top: 1px;
}

.question-points input {
    margin: 0;
    text-align: center;
}

.question-count-stream {
    display: none;
    position: absolute;
    width: 100px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #10687A;
    background: rgba(0, 0, 0, 0.0);
    border-color: #f00;
    overflow: hidden;
}

.sideboard-points {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: max-content;
    position: absolute;
    top: 154px;
    left: 500px;
    max-height: fit-content;
    height: -moz-max-content;
}

.sideboard-image {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: max-content;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto auto 0;
    max-height: fit-content;
    height: -moz-max-content;
}

.quiz-image {
    width: 470px;
    height: 300px;
    object-fit: contain;
    opacity: 0;
}

.quiz-image-big {
    width: 1100px;
    max-width: 100%;
    height: 700px;
    object-fit: contain;
}

.sideboard-image-quizmaster {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: max-content;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto auto 0;
    max-height: fit-content;
    height: -moz-max-content;
}

.quiz-image-quizmaster {
    width: 470px;
    height: 300px;
    object-fit: contain;
    opacity: 0;
}

.quiz-image-stream {
    width: 470px;
    height: 300px;
    object-fit: contain;
    opacity: 0;
    border: 0px;
}

.shared-image {
    margin-top: 10px;
    background-image: url(/img/placeholder-quiz-tool.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 470px;
    height: 300px;
    margin: 5px;
}

.shared-image-stream {
    display: none;
    position: absolute;
    right: 2px;
    top: 60px;
    background-image: url(/img/placeholder-quiz-tool.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 470px;
    height: 300px;
}

.sideboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto auto 0;
    max-height: fit-content;
    height: -moz-max-content;
    text-align: center;
    color: #fff;
    padding: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--dark-color-a);
}

.sideboard hr {
    height: 1px;
    margin: 10px 0;
    border-width: 0;
    color: var(--dark-color-b);
    background-color: var(--dark-color-b);
}

.enemy-points-grid {
    width: auto;
    max-width: 170px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 3px 10px;
    margin-top: 5px;
}

.enemy-name {
    text-align: start;
    grid-column: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.enemy-point {
    text-align: end;
    grid-column: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.own-point {
    width: auto;
    max-width: 170px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-top: 5px;
    padding: 3px 10px;

    border-radius: 5px;
    background-color: var(--dark-color-b);
}

.popup {
    position: relative;
}

.popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#html-id-stream {
    height: 100%;
}

#body-id-stream {
    color: #fff;
    padding: 20px;
    transform: scale(1.7);
    transform-origin: 0 0;
    width: calc(100% / 1.7);
    height: calc(100% / 1.7);
    background-color: rgba(0, 0, 0, 0.0);
}

#logo {
    width: 100px;
    margin: 36px;
}

#choose-stream-room {
    background-color: var(--light-color);
}

#choose-stream-room p {
    margin-top: 10px;
}

#color-mode-select {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 12px;
    left: 15px;
    width: 120px;
    min-width: 100px;
    padding: 5px 10px;
    background: var(--light-color);
    color: var(--dark-color-a);
    font-size: 12px;
    border: 1px solid var(--dark-color-a);
    border-radius: 5px;
    box-shadow: none;
}

#sound-mode-select {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 48px;
    left: 15px;
    width: 120px;
    min-width: 100px;
    padding: 5px 10px;
    background: var(--light-color);
    color: var(--dark-color-a);
    font-size: 12px;
    border: 1px solid var(--dark-color-a);
    border-radius: 5px;
    box-shadow: none;
}

#spectate-button {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 12px;
    right: 15px;
    width: auto;
    padding: 5px 10px;
    background: var(--light-color);
    color: var(--dark-color-a);
    font-size: 12px;
    border: 1px solid var(--dark-color-a);
    border-radius: 5px;
    box-shadow: none;
}

#stream-overlay-button {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 12px;
    right: 15px;
    width: auto;
    padding: 5px 10px;
    font-size: 12px;
    color: #00000000;
    background: #00000000;
    border: 1px solid #00000000;
    border-radius: 5px;
    box-shadow: none;
    cursor: default;
}

#stream-overlay-button:hover {
    color: var(--dark-color-a);
    border-color: var(--dark-color-a);
}

#room-title {
    color: var(--dark-color-a);
    text-shadow: 1px 1px 2px var(--light-color);
    position: fixed;
    z-index: 1;
    right: 15px;
    top: 12px;
}

#headline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#headline-stream {
    margin-bottom: 30px;
    background-color: var(--light-color);
}

#msg-block {
    display: none;
    position: fixed;
    bottom: 0;
    width: 460px;
    z-index: -1;
    margin: 20px;
}

#msg-block-quizmaster {
    display: none;
    position: fixed;
    bottom: 0;
    width: 520px;
    z-index: -1;
    margin: 20px;
}

#msg-block-stream {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 460px;
    z-index: -1;
    margin: 20px 20px 0 20px;
}

#empty-roomname {
    display: none;
    margin: 20px;
}

#quizmaster-login {
    margin: 0;
    margin-right: 10px;
    padding: 0px;
    height: auto;
    width: auto;
}

#inline-buttons {
    width: 100%;
    text-align: center;
}

#quizmaster-control {
    display: grid;
    grid-template-columns: 50px calc((100% - 70px) / 2) calc((100% - 70px) / 2);
    gap: 10px;
}

#question-count-control {
    width: 100%;
    grid-column: 1;
}

#point-buttons-all {
    width: 100%;
    text-align: center;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#point-buttons-all p {
    margin-bottom: 5px;
}

#buzzer-control {
    width: 100%;
    text-align: center;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#buzzer-control p {
    margin-bottom: 5px;
}

#buzzer-control button {
    width: 90px;
    margin: 2px;
}

#buzzer-control button, .input-file::file-selector-button {
    height: 28px;
    padding: 0 10px;
    background: var(--button-color);
    color: var(--dark-color-a);
    border: 1px solid var(--dark-color-a);
    border-radius: 10px;
}

#buzzer-control button:hover, .input-file::file-selector-button:hover {
    background-color: var(--button-hover-color);
}

#buzzer-control button:active:not(button:disabled), .input-file::file-selector-button:active {
    position: relative;
    top: 1px;
}

#buzzer-control button:disabled {
  background-color: var(--dark-color-b);
  cursor: default;
}

#allPointsToZero-modal-content {
    text-align: center;
}

#allPointsToZero-modal-content p {
    margin-bottom: 18px;
}

#allPointsToZero-modal-content button {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: var(--dark-color-a);
    height: 38px;
    width: 60px;
    max-width: 100px;
    margin: 5px;
    background: var(--button-color);
    color: var(--dark-color-a);
    border: 1px solid var(--dark-color-a);
    border-radius: 10px;
}

#allPointsToZero-modal-content button:hover {
    background-color: var(--button-hover-color);
}

#allPointsToZero-modal-content button:active {
    position: relative;
    top: 1px;
}

#input-form-stream {
    max-width: 480px;
}

#choose-room p {
    margin: 30px;
    text-align: center;
}

#candidate-form {
    display: none;
    padding: 30px 5px;
}

#answ-grid {
    display: grid;
    grid-template-columns: 35px auto 35px;
    gap: 0;
}

#answers-form {
    padding: 15px 15px;
    display: none;
}

#answers-form hr {
    height: 1px;
    margin: 10px 15px;
    border-width: 0;
    color: var(--dark-color-a);
    background-color: var(--dark-color-a);
    box-shadow: 20px 0 var(--dark-color-a), -20px 0 var(--dark-color-a);
}

#answers-form-spectator {
    min-height: 120px;
    padding: 15px 15px;
    display: none;
}

#answers-form-stream {
    display: none;
}

#answers-form-stream p {
    background-color: var(--light-color);
}

#candidate-answers {
    display: grid;
    grid-template-columns: 100px 420px;
    gap: 10px;
}

#candidate-answers-spectator {
    display: grid;
    grid-template-columns: 50px 410px;
    gap: 10px;
}

#candidate-answers-stream {
    display: grid;
    grid-template-columns: 100px 420px;
    gap: 10px;
}

#enemy-points-sideboard {
    width: 200px;
    min-height: 150px;
}

#enemy-points {
    width: auto;
    white-space: nowrap;
}

#question-count-sideboard {
    width: 100px;
    min-height: 50px;
}

#small-screen-warning {
    display: none;
}

@media only screen and (max-width: 500px) {
    div:not(#small-screen-warning) {
        display: none;
    }
    html,
    body {
        height: 100%;
    }
    #small-screen-warning {
        color: var(--dark-color-a);
        display: flex;
        text-align: center;
        align-items: center;
        height: 100%;
        padding: 20px;
    }
}

@media only screen and (max-width: 700px) {
    #question-count-sideboard {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    #enemy-points-sideboard {
        display: none;
    }
}


@media only screen and (max-width: 1520px) {
    #sideboard-image {
        position: static;
    }

    #sideboard-image-content .sideboard {
        border-radius: 5px;
    }

    .quiz-image {
        width: 460px;
    }

    #shared-image {
        width: 460px;
    }
}


@media only screen and (max-width: 1580px) {
    #sideboard-image-quizmaster {
        position: static;
    }

    #sideboard-image-content-quizmaster .sideboard {
        border-radius: 5px;
    }

    .quiz-image-quizmaster {
        width: 520px;
    }

    #shared-image-quizmaster {
        width: 520px;
    }
}
